.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;
  }
  /*A "Flexible Layout" must have a parent element with the display property set to flex.*/
  /* by default flex items are laid out in source order */

  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
      align-content: center;
    }
  }
  /* @media is used in media queries to apply different styles in different conditions. Media queries can be used to check: width and height of viewport, width and height of device, orientation of device, and resolution.*/
  /* This @media rule will change "flex-container" to a column when viewport < "max-width"*/


  .flex-container > div { /*this will target <div> elements that are direct children (>) of .flex-container elements)*/
    /* background-color: #f1f1f1; */
    flex: auto;
    width:300px;
    /* max-width: 600px; */
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-image: url("images/akitsushima.jpeg");
    /* background-repeat: no-repeat; */
    background-position: center;
    border-radius: 25px; /*adds curves to cards*/
  }

  .flex-container h3 { /*a space instead of a ">" will select all descendants of .flex-container elements*/
  margin: 10%;;
  font-size: 100%;
  mix-blend-mode: darken;
  }

  .flex-container button { /*a space instead of a ">" will select all descendants of .flex-container elements*/
    border: none;
  appearance: none;
  background-color: inherit;
  background: none;
    }

    .buttonimage {
        width: 15%;
        cursor: pointer;
        float: right;
        margin:2.5% 2.5%;
    }

    .buttonimage:active {
        filter: brightness(50%);
    }


/* Popup container */
.popup {
    position: relative;
    display: inline;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
.popup .reveal {
    visibility: visible;
}